* {
  font-family: "lato", sans-serif;
  font-weight: bold;
}

body {
  background: linear-gradient(white,cyan);

  color: black;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
                background-color: grey;
                border: none;
                color: white;
}

.btn:hover {
                background-color: white;
                color: cyan;
              }
